# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Environments
.env
.venv
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
